<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1  [L,NE]
RewriteRule assets/([a-z/.-]+)$ assets/$1  [L,NE]
</IfModule>