<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Backpack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{prefix}}/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="{{prefix}}/assets/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="{{prefix}}/bower_components/roboto-fontface/roboto-fontface.css" />
    <link rel="stylesheet" type="text/css" href="{{prefix}}/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{prefix}}/bower_components/gx-bootstrap/dist/gx-bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{prefix}}/bower_components/hint.css/hint.min.css" />
    <link rel="stylesheet" type="text/css" href="{{prefix}}/assets/build/backpack.css" />
</head>
<body data-view="{{view}}" data-lang="{{lang}}" data-url="{{url}}" data-index="{{index}}">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- INCLUDES -->
</body>
</html>
